<p id="notice"><%= notice %></p>

<p>
  <strong>Posttitle:</strong>
  <%= @project.posttitle %>
</p>

<p>
  <strong>Posttopic:</strong>
  <%= @project.posttopic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<p>
  <strong>Postkeywords:</strong>
  <%= @project.postkeywords %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>Milestone:</strong>
  <%= @project.milestone %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
